@import "../styles/variables.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: $fade-in-duration;
}

.dropdownListWrapper {
  display: flex;
  flex-wrap: wrap;
}

.dropdownList {
  flex-grow: 1;
  flex-basis: 70%;
}

.noCategorySelected {
  & .dropdownList {
    margin-top: 3em;
  }
  
  & h3 {
    margin-bottom: -3em !important;
  }
}

.dropdownItem {
  display: inline-block;
  margin-left: 1em !important;
}

:export {
  startColor: $primary-color;
  endColor: $secondary-color;
  fadeInDuration: $fade-in-duration;
}
