@import "../styles/variables.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: $fade-in-duration;
}

.dropdownListWrapper {
  display: flex;
}

.dropdownList {
  flex-grow: 1;
}

.spacerItem {
  height: 3em;
}

@media (max-width: $max-width) {
  .dropdownListWrapper {
    display: block;
  }

  .spacerItem {
    display: none;
  }
}


.dropdownItem {
  display: inline-block;
  margin-left: 1em !important;
}

:export {
  startColor: $primary-color;
  endColor: $secondary-color;
  fadeInDuration: $fade-in-duration;
}
