@import "../styles/variables.scss";

.layout {
  width: 90%;
  max-width: $max-width;
  margin: 5vw auto 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-size: 5em;
  margin: 0 auto;
  white-space: nowrap;
  gap: 0.1em;
}

@media (max-width: $max-width) {
  .home {
    font-size: 10vw;
  }
}
