@import "../styles/variables.scss";

.layout {
  width: 90%;
  max-width: $max-width;
  margin: 2em auto 0;
  overflow: hidden;

  & p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.section {
  & .borderTop {
    height: 0;
    border-bottom: 2em solid transparent;
    border-left: 100vw solid transparent;
  }
}

.darkSection {
  @extend .section;
  background-color: $dark-color;
  color: $light-color;

  & .borderTop {
    border-left-color: $light-color;
  }
}

.lightSection {
  @extend .section;
  background-color: $light-color;
  color: $dark-color;

  & .borderTop {
    border-left-color: $dark-color;
  }

  & h1 {
    background-color: $light-color;
    color: $dark-color;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-size: 5em;
  margin: 0 auto;
  white-space: nowrap;
  gap: 0.1em;
}

@media (max-width: $max-width) {
  .home {
    font-size: 10vw;
  }
}
