@import '../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 5em;

    & a {
        margin: 0 0.5em;
    }
}

.layout {
    width: 80%;
    max-width: $max-width;
    margin: 5vw auto 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 9vw;
    margin: 0 auto;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .home {
        font-size: 5em;
    }
}
