@import "../styles/variables.scss";

.marker {
  padding: 0.1em 0.3em;
  text-transform: uppercase;
  color: $dark-color;
  text-decoration: inherit;

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }

  &.clickable {
    cursor: pointer;
  }

  & a {
    color: inherit;
  }
}

h1.marker {
  margin-left: 0;
  padding: 0;
  background-color: $dark-color;
  color: $light-color;
  font-size: 5em;
}

@media (max-width: $max-width) {
  h1.marker {
    font-size: 12vw;
  }
}

h2.marker {
  margin: 0.5em 0;
  box-sizing: border-box;
  background-color: $primary-color;
  color: $dark-color;
  font-size: 1.5em;
}

h3.marker {
  background-color: $dark-color;
  color: $light-color;
  margin: 0.5em 0;
  padding-left: 0;
  font-size: 1.5em;
  white-space: nowrap;
  box-sizing: border-box;
}